# URL Backend server cho Nuxt Nitro Proxy (Local: http://127.0.0.1:3003, Production: http://backend-ip:3003 hoặc domain backend)
NUXT_API_TARGET=http://127.0.0.1:3003

# API Prefix
NUXT_PUBLIC_API_BASE=/api
VITE_API_BASE_URL=/api
